@use '../../../App';

a{
    color: App.$primary-color;
}
.background {
  display: flex;
  position: relative;
  height: calc(100vh - 65px);
  margin: 0;
  padding: 0;
  .first-half {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: App.$primary-color;
    .img-cont {
      position: absolute;
      bottom: 20%;
      left: 20%;
      height: 35%;
      width: 35%;
      img{
        height: 100%;
        width: 100%;
      }
    }
    
  }
  .second-half {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: #e2d3f6;
    .img-cont {
      position: absolute;
      top: 20%;
      right: 20%;
      height: 35%;
      width: 50%;
      img{
        height: 100%;
        width: 100%;
      }
    }
  }
  .container {
    position: absolute;
    background-color: #ffffff;
    border-radius: 20px;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 30%;
    height: fit-content;
    margin: auto;
    .container-inner {
      padding: 30px;
      .form-intro {
        display: flex;
        justify-content: space-between;
      }
      form {
        .form-control {
          display: flex;
          margin-bottom: 25px;
          gap: 10px;
          flex-direction: column;
          font-size: 16px;
          & input {
            border: 1px solid gray;
            border-radius: 10px;
            outline: none;
            padding: 15px;
          }
          & button {
            width: 100%;
            cursor: pointer;
            background-color: App.$primary-color;
            color: #ffffff;
            font-size: 18px;
            border: none;
            border-radius: 10px;
            outline: none;
            padding: 12px;
          }
        }
      }
    }
  }
}
