.note {
    padding: 8px;
    border-radius: 14px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    .note-inner {
      .title {
        font-size: 18px;
      }
      .content {
        font-size: 16px;
        font-weight: 400;
      }
      &:last-child {
        font-size: 12px;
        font-weight: 300;
      }
    }
  }