@use "../../App";

.form {
  top: 65px;
  position: relative;
  .create-note {
    background-color: App.$background;
    color: App.$text-color;
    position: relative;
    width: 70%;
    margin: 30px auto 20px auto;
    padding: 15px;
    border-radius: 7px;
    box-shadow: 0 1px 5px rgb(138, 137, 137);

    input,
    textarea,
    select {
      background-color: App.$background;
      color: App.$text-color;
      width: 100%;
      border: none;
      padding: 4px;
      outline: none;
      font-size: 1.2em;
      font-family: inherit;
      resize: none;
    }
    .select {
      display: flex;
    }

    button {
      position: absolute;
      right: 18px;
      bottom: -18px;
      background: App.$primary-color;
      color: #fff;
      border: none;
      border-radius: 50%;
      width: 36px;
      height: 36px;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
      cursor: pointer;
      outline: none;
    }
  }
}

.note-button {
  margin-top: 100px;
  display: flex;
  justify-content: center;
  div {
    height: 55px;
    width: 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: App.$primary-color;
    &:hover {
      background-color: #b489ec;
    }
  }
}
