@use "../../App";
.home {
  background-color: App.$background;
  color: App.$text-color;
  top: 65px;
  position: relative;
  padding: 10px 50px;
  .notes {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: flex-start;
  }
  .category {
    margin-top: 50px;
    .categories {
      margin-top: 40px;
      display: flex;
      justify-content: space-around;
    }
  }
  .note-button {
    margin-top: 50px;
    display: flex; 
    justify-content: end;
    div {
      height: 55px;
      width: 55px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background-color: App.$primary-color;
      &:hover{
        background-color: #b489ec;
      }
    }
  }
}
