@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

/* Header*/

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 22px;
  height: fit-content;
  background-color: bisque;
}
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  font-family: 'Pacifico', cursive;
  font-size: 2.5rem;
  color: rgb(235, 158, 17);
  margin-right: 20px;
}

nav {
  background-color: rgb(236, 180, 76);
  max-width: 400px;
  border-radius: 5px;
}

span {
  color: rgb(235, 169, 48);
  font-size: 2rem !important;
  cursor: pointer;
  margin-right: 8px;
}

/* Menu */

.menu{
  background-color: bisque;
  max-width: 20%;
  border-top: 4px solid #fff;
  height: 70vh;
  border-radius: 0 0 30px;
}
.menu span {
  display: flex;
  align-items: center;
  border-radius: 0 15px 15px 0;
}
.menu > span{
  margin-top: 10px;
  padding-bottom: 10px;
}
span h6 {
  color: #000;
  margin-left: 0px;
}

.menu span:hover {
  background-color: #fff;
}