@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

$primary-color: #9868D6;
$text-color: #16181d;
$background: rgb(246 247 249/1);
// $dark-inside: #343a46;
$dark-inside: #ffffff;

a{
  text-decoration: none;
}
